body {
    background-image: url('../images/placeholder.png');
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    font-family: sans-serif;

}

div.head1 p {
    font-size: 20px;

    margin-left: 20%;
}

div.content h1 {
    color: #10DBC4;
    font-weight: unset;


}

p,
h1,
h2 {
    font-weight: unset;
}

.cel1 {
    position: absolute;
    margin-left: auto;
    right: 23%;
    top: 78px;
}

div.head1 {
    display: block;
    clear: both;
    top: 0;
    left: 0;
}

div.content {
    width: 100%;
    height: 500px;
    background-color: #17918A;
    margin-bottom: 1%;
    margin-top: 5%;


}

div.center {
    width: 25%;
    height: 367px;
    text-align: center;
    float: left;
    margin-left: 2.5%;
    color: white;
    padding-top: 10%;


}

div.last {
    width: 100%;
    height: 600px;
    background-color: #17918A;
    margin-bottom: 10%;
    margin-top: 5%;
    text-align: center;
    padding-top: 10%;
    color: white;

}

div.last img {
    height: 35%;
    width: 35%;
    margin: 1%;
}

div.aligncenter {
    text-align: center;
    width: 100%;
    height: 400px;
    margin-bottom: 1%;
    margin-top: 1%;
    vertical-align: middle;
    padding-top: 12%;



}

.cel2 {
    position: absolute;
    margin-left: auto;
    right: 25%;
    top: 70px;

}



button {
    background-color: #33C3F0;
    color: white;
    border: none;
    text-align: center;
    margin-left: 20%;
    width: 164px;
    height: 65px;
    -webkit-border-radius: 46%;



}