div {
    border-radius: 12px;
}

h3 {
    margin: 0;
    padding-top: 7%;
}

.yellowcontainer {
    background-color: yellow;
    text-align: center;
}

.bluecontainer {
    background-color: blue;
    color: white;
    width: 38vw;
    padding-left: 1%;
}

.pinkcontainer {
    background-color: #ffc0cb;

}

.pinkcontainer p {
    margin: 0;
}

.orangecontainer {
    background-color: orange;
    width: 18vw;
    padding: 1.5%;
}

.flex-container {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

@media only screen and (max-width: 500px) {
    .orangecontainer a {

        visibility: hidden;
        width: 0px;
        padding: 0;
        margin: 0;


    }

    .orangecontainer {
        width: auto;
        display: flex;
        margin-bottom: 2%;
    }

    .flex-container {
        display: revert;

    }

    .bluecontainer {
        width: 100%;
    }
    .yellowcontainer{
        text-align: left;
    }
}

@media only screen and (min-width: 501px) {
    select {
        display: none;

    }

}
@media only screen and (min-width: 501px) and (max-width: 860px) {
    .bluecontainer {
        width: 37vw;
        

    }
    .orangecontainer{
        width: 17vw;
    }
}

