html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    display: flex;
    align-content: center;
  
    
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10%;
}
input{
    margin-bottom: 8%;
}